# import libraries

In [1]:
import pandas as pd
import numpy as np

# equipes de saude totais data

In [3]:
df = pd.read_csv('../../../Dados/Raw/Equipes_Saude/totais/2008-2022.csv', delimiter=';', encoding='utf-8')

In [4]:
df.head()

,Unidade da Federacao,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2022/Mar,2022/Abr,2022/Mai,2022/Jun,2022/Jul,2022/Ago,2022/Set,2022/Out,2022/Nov,2022/Dez
0,11 Rondonia,281,279,278,295,296,301,304,306,308,...,697,698,700,696,696,700,701,705,706,711
1,12 Acre,168,170,170,171,172,172,172,175,175,...,485,488,488,489,487,489,488,489,490,493
2,13 Amazonas,622,613,616,608,636,641,639,642,651,...,2107,2117,2113,2116,2116,2122,2132,2135,2132,2134
3,14 Roraima,95,93,93,94,95,97,100,100,100,...,296,301,302,302,302,302,302,302,301,303
4,15 Para,1060,1066,1082,1100,1123,1132,1148,1158,1159,...,3711,3714,3726,3738,3747,3760,3771,3775,3774,3786

### replace column names

In [5]:
df.columns

Index(['Unidade da Federacao', '2008/Jan', '2008/Fev', '2008/Mar', '2008/Abr',
       '2008/Mai', '2008/Jun', '2008/Jul', '2008/Ago', '2008/Set',
       ...
       '2022/Mar', '2022/Abr', '2022/Mai', '2022/Jun', '2022/Jul', '2022/Ago',
       '2022/Set', '2022/Out', '2022/Nov', '2022/Dez'],
      dtype='object', length=181)

In [6]:
months = {"/Jan":"-01-01", "/Fev":"-02-01", "/Mar":"-03-01", "/Abr":"-04-01", "/Mai":"-05-01", "/Jun":"-06-01", "/Jul":"-07-01", "/Ago":"-08-01", "/Set":"-09-01", "/Out":"-10-01", "/Nov":"-11-01", "/Dez":"-12-01"}
for key, value in months.items():
    df.columns = df.columns.str.replace(key, value)

In [7]:
df.columns

Index(['Unidade da Federacao', '2008-01-01', '2008-02-01', '2008-03-01',
       '2008-04-01', '2008-05-01', '2008-06-01', '2008-07-01', '2008-08-01',
       '2008-09-01',
       ...
       '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01',
       '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01'],
      dtype='object', length=181)

In [8]:
df.set_index("Unidade da Federacao", inplace=True)

In [9]:
df.columns

Index(['2008-01-01', '2008-02-01', '2008-03-01', '2008-04-01', '2008-05-01',
       '2008-06-01', '2008-07-01', '2008-08-01', '2008-09-01', '2008-10-01',
       ...
       '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01',
       '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01'],
      dtype='object', length=180)

In [10]:
df.head()

,2008-01-01,2008-02-01,2008-03-01,2008-04-01,2008-05-01,2008-06-01,2008-07-01,2008-08-01,2008-09-01,2008-10-01,...,2022-03-01,2022-04-01,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01
Unidade da Federacao,,,,,,,,,,,,,,,,,,,,,
11 Rondonia,281,279,278,295,296,301,304,306,308,309,...,697,698,700,696,696,700,701,705,706,711
12 Acre,168,170,170,171,172,172,172,175,175,175,...,485,488,488,489,487,489,488,489,490,493
13 Amazonas,622,613,616,608,636,641,639,642,651,652,...,2107,2117,2113,2116,2116,2122,2132,2135,2132,2134
14 Roraima,95,93,93,94,95,97,100,100,100,102,...,296,301,302,302,302,302,302,302,301,303
15 Para,1060,1066,1082,1100,1123,1132,1148,1158,1159,1164,...,3711,3714,3726,3738,3747,3760,3771,3775,3774,3786

In [11]:
df.columns = pd.to_datetime(df.columns)
df.columns

DatetimeIndex(['2008-01-01', '2008-02-01', '2008-03-01', '2008-04-01',
               '2008-05-01', '2008-06-01', '2008-07-01', '2008-08-01',
               '2008-09-01', '2008-10-01',
               ...
               '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01',
               '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01',
               '2022-11-01', '2022-12-01'],
              dtype='datetime64[ns]', length=180, freq=None)

### check for NAs

In [12]:
df.isna().sum().sum()

0

### save data

In [13]:
# save data in a new csv file
df.to_csv('../../../Dados/Processado/Equipes_Saude/totais/2008-2022.csv', index=True)

# population data

#### load data

In [24]:
pop = pd.read_csv('../../../Dados/Raw/Populacao/pop_2000_2021.csv', delimiter=';')

In [25]:
pop.head()

,Unidade da Federacao,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,11 Rondonia,1409018,1432779,1454686,1474963,1494506,1513687,1532259,1549747,1566588,...,1637884,1657620,1677766,1698263,1717911,1737578,1757589,1777225,1796460,1815278
1,12 Acre,582172,600611,619261,637959,656312,674989,693719,712059,730523,...,792045,805014,818273,831665,844137,856457,869265,881935,894470,906876
2,13 Amazonas,2868193,2939965,3008836,3075835,3140990,3207750,3276510,3345514,3415112,...,3684326,3751293,3819636,3887740,3952171,4015812,4080611,4144597,4207714,4269995
3,14 Roraima,333356,345858,358071,370356,383083,395424,407693,420331,433189,...,480290,491066,501970,513328,525967,546885,576568,605761,631181,652713
4,15 Para,6371212,6517813,6661752,6804896,6947242,7087681,7228687,7367310,7504065,...,7960134,8054419,8149418,8244575,8334346,8422634,8513497,8602865,8690745,8777124

### linear smoothing to create monthly data

In [30]:
pop.set_index("Unidade da Federacao", inplace=True)

In [32]:
pop.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Unidade da Federacao,,,,,,,,,,,,,,,,,,,,,
11 Rondonia,1409018,1432779,1454686,1474963,1494506,1513687,1532259,1549747,1566588,1582874,...,1637884,1657620,1677766,1698263,1717911,1737578,1757589,1777225,1796460,1815278
12 Acre,582172,600611,619261,637959,656312,674989,693719,712059,730523,748586,...,792045,805014,818273,831665,844137,856457,869265,881935,894470,906876
13 Amazonas,2868193,2939965,3008836,3075835,3140990,3207750,3276510,3345514,3415112,3485174,...,3684326,3751293,3819636,3887740,3952171,4015812,4080611,4144597,4207714,4269995
14 Roraima,333356,345858,358071,370356,383083,395424,407693,420331,433189,446088,...,480290,491066,501970,513328,525967,546885,576568,605761,631181,652713
15 Para,6371212,6517813,6661752,6804896,6947242,7087681,7228687,7367310,7504065,7637004,...,7960134,8054419,8149418,8244575,8334346,8422634,8513497,8602865,8690745,8777124

In [40]:
# create a copy of pop
pop1 = pop.copy()

### change column type

In [53]:
columns = np.arange(2000, 2022, 1)

In [55]:
pop1.columns = columns

In [58]:
pop1.columns

Index([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
      dtype='int64')

In [62]:
# create monthly data
for year in range(2000, 2021):
    for month in range(1, 13):
        monthly_increment = ((pop1[year+1] - pop1[year]) / 12).round(0)
        pop1[f'{year}-{month}-01'] = pop1[year] + (monthly_increment * month)

pop1.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2020-3-01,2020-4-01,2020-5-01,2020-6-01,2020-7-01,2020-8-01,2020-9-01,2020-10-01,2020-11-01,2020-12-01
Unidade da Federacao,,,,,,,,,,,,,,,,,,,,,
11 Rondonia,1409018,1432779,1454686,1474963,1494506,1513687,1532259,1549747,1566588,1582874,...,1801164.0,1802732.0,1804300.0,1805868.0,1807436.0,1809004.0,1810572.0,1812140.0,1813708.0,1815276.0
12 Acre,582172,600611,619261,637959,656312,674989,693719,712059,730523,748586,...,897572.0,898606.0,899640.0,900674.0,901708.0,902742.0,903776.0,904810.0,905844.0,906878.0
13 Amazonas,2868193,2939965,3008836,3075835,3140990,3207750,3276510,3345514,3415112,3485174,...,4223284.0,4228474.0,4233664.0,4238854.0,4244044.0,4249234.0,4254424.0,4259614.0,4264804.0,4269994.0
14 Roraima,333356,345858,358071,370356,383083,395424,407693,420331,433189,446088,...,636563.0,638357.0,640151.0,641945.0,643739.0,645533.0,647327.0,649121.0,650915.0,652709.0
15 Para,6371212,6517813,6661752,6804896,6947242,7087681,7228687,7367310,7504065,7637004,...,8712339.0,8719537.0,8726735.0,8733933.0,8741131.0,8748329.0,8755527.0,8762725.0,8769923.0,8777121.0

In [63]:
# drop original columns
pop1.drop(columns=columns, inplace=True)
pop1.head()

,2000-1-01,2000-2-01,2000-3-01,2000-4-01,2000-5-01,2000-6-01,2000-7-01,2000-8-01,2000-9-01,2000-10-01,...,2020-3-01,2020-4-01,2020-5-01,2020-6-01,2020-7-01,2020-8-01,2020-9-01,2020-10-01,2020-11-01,2020-12-01
Unidade da Federacao,,,,,,,,,,,,,,,,,,,,,
11 Rondonia,1410998.0,1412978.0,1414958.0,1416938.0,1418918.0,1420898.0,1422878.0,1424858.0,1426838.0,1428818.0,...,1801164.0,1802732.0,1804300.0,1805868.0,1807436.0,1809004.0,1810572.0,1812140.0,1813708.0,1815276.0
12 Acre,583709.0,585246.0,586783.0,588320.0,589857.0,591394.0,592931.0,594468.0,596005.0,597542.0,...,897572.0,898606.0,899640.0,900674.0,901708.0,902742.0,903776.0,904810.0,905844.0,906878.0
13 Amazonas,2874174.0,2880155.0,2886136.0,2892117.0,2898098.0,2904079.0,2910060.0,2916041.0,2922022.0,2928003.0,...,4223284.0,4228474.0,4233664.0,4238854.0,4244044.0,4249234.0,4254424.0,4259614.0,4264804.0,4269994.0
14 Roraima,334398.0,335440.0,336482.0,337524.0,338566.0,339608.0,340650.0,341692.0,342734.0,343776.0,...,636563.0,638357.0,640151.0,641945.0,643739.0,645533.0,647327.0,649121.0,650915.0,652709.0
15 Para,6383429.0,6395646.0,6407863.0,6420080.0,6432297.0,6444514.0,6456731.0,6468948.0,6481165.0,6493382.0,...,8712339.0,8719537.0,8726735.0,8733933.0,8741131.0,8748329.0,8755527.0,8762725.0,8769923.0,8777121.0

### save data

In [64]:
# pop1.to_csv('../../../Dados/Processado/Populacao/pop_2000_2020_mensal.csv', index=True)

# density of health professionals

#### load data

In [29]:
pop = pd.read_csv('../../../Dados/Processado/Populacao/pop_2000_2020_mensal.csv', delimiter=',')
equipe = pd.read_csv('../../../Dados/Processado/Equipes_Saude/totais/2008-2022.csv', delimiter=',')

In [30]:
pop.head()

,Unidade da Federacao,2000-1-01,2000-2-01,2000-3-01,2000-4-01,2000-5-01,2000-6-01,2000-7-01,2000-8-01,2000-9-01,...,2020-3-01,2020-4-01,2020-5-01,2020-6-01,2020-7-01,2020-8-01,2020-9-01,2020-10-01,2020-11-01,2020-12-01
0,11 Rondonia,1410998.0,1412978.0,1414958.0,1416938.0,1418918.0,1420898.0,1422878.0,1424858.0,1426838.0,...,1801164.0,1802732.0,1804300.0,1805868.0,1807436.0,1809004.0,1810572.0,1812140.0,1813708.0,1815276.0
1,12 Acre,583709.0,585246.0,586783.0,588320.0,589857.0,591394.0,592931.0,594468.0,596005.0,...,897572.0,898606.0,899640.0,900674.0,901708.0,902742.0,903776.0,904810.0,905844.0,906878.0
2,13 Amazonas,2874174.0,2880155.0,2886136.0,2892117.0,2898098.0,2904079.0,2910060.0,2916041.0,2922022.0,...,4223284.0,4228474.0,4233664.0,4238854.0,4244044.0,4249234.0,4254424.0,4259614.0,4264804.0,4269994.0
3,14 Roraima,334398.0,335440.0,336482.0,337524.0,338566.0,339608.0,340650.0,341692.0,342734.0,...,636563.0,638357.0,640151.0,641945.0,643739.0,645533.0,647327.0,649121.0,650915.0,652709.0
4,15 Para,6383429.0,6395646.0,6407863.0,6420080.0,6432297.0,6444514.0,6456731.0,6468948.0,6481165.0,...,8712339.0,8719537.0,8726735.0,8733933.0,8741131.0,8748329.0,8755527.0,8762725.0,8769923.0,8777121.0

In [31]:
equipe.head()

,Unidade da Federacao,2008-01-01,2008-02-01,2008-03-01,2008-04-01,2008-05-01,2008-06-01,2008-07-01,2008-08-01,2008-09-01,...,2022-03-01,2022-04-01,2022-05-01,2022-06-01,2022-07-01,2022-08-01,2022-09-01,2022-10-01,2022-11-01,2022-12-01
0,11 Rondonia,281,279,278,295,296,301,304,306,308,...,697,698,700,696,696,700,701,705,706,711
1,12 Acre,168,170,170,171,172,172,172,175,175,...,485,488,488,489,487,489,488,489,490,493
2,13 Amazonas,622,613,616,608,636,641,639,642,651,...,2107,2117,2113,2116,2116,2122,2132,2135,2132,2134
3,14 Roraima,95,93,93,94,95,97,100,100,100,...,296,301,302,302,302,302,302,302,301,303
4,15 Para,1060,1066,1082,1100,1123,1132,1148,1158,1159,...,3711,3714,3726,3738,3747,3760,3771,3775,3774,3786

#### set column index

In [32]:
pop.set_index("Unidade da Federacao", inplace=True)
equipe.set_index("Unidade da Federacao", inplace=True)

#### change column name dtype

In [35]:
equipe.columns = pd.to_datetime(equipe.columns)

In [36]:
pop.columns = pd.to_datetime(pop.columns)

#### new df with intersection

In [37]:
# create a new dataframe with the time frame that both dataframes intersect that contains both dataframes
equipe_subset = equipe.loc[:, equipe.columns.isin(pop.columns)]
pop_subset = pop.loc[:, pop.columns.isin(equipe.columns)]

##### check sizes match

In [41]:
equipe_subset.shape

(28, 156)

In [42]:
pop_subset.shape

(28, 156)

##### divide number of equipes per population

In [ ]:
pop_subset /= 10000
pop_subset.head()

In [43]:
density = equipe_subset.div(pop_subset)
density.head()

,2008-01-01,2008-02-01,2008-03-01,2008-04-01,2008-05-01,2008-06-01,2008-07-01,2008-08-01,2008-09-01,2008-10-01,...,2020-03-01,2020-04-01,2020-05-01,2020-06-01,2020-07-01,2020-08-01,2020-09-01,2020-10-01,2020-11-01,2020-12-01
Unidade da Federacao,,,,,,,,,,,,,,,,,,,,,
11 Rondonia,1.792155,1.777860,1.769958,1.876571,1.881309,1.911439,1.928828,1.939847,1.950848,1.955501,...,2.609424,2.601607,3.220085,3.527390,3.568591,3.593137,3.628688,3.636584,3.688576,3.718443
12 Acre,2.294994,2.317551,2.312806,2.321657,2.330472,2.325729,2.321006,2.356702,2.351936,2.347188,...,3.219797,3.249478,4.168334,4.751997,4.912899,5.084509,5.067627,5.017628,5.033979,5.083374
13 Amazonas,1.818208,1.788847,1.794544,1.768231,1.846528,1.857896,1.848970,1.854518,1.877350,1.877074,...,2.531206,2.558843,4.232740,4.380901,4.512206,4.556115,4.571712,4.657699,4.668444,4.679163
14 Roraima,2.187609,2.136266,2.131004,2.148625,2.166160,2.206356,2.269045,2.263524,2.258030,2.297613,...,2.434951,2.694417,3.546038,3.800949,3.976767,4.167099,4.155550,4.251904,4.255548,4.243851
15 Para,1.410485,1.416381,1.435528,1.457267,1.485557,1.495271,1.514190,1.525151,1.524244,1.528593,...,2.588283,2.593028,3.354061,3.646696,3.720342,3.763004,3.782753,3.784211,3.784526,3.795094

### save data

In [44]:
# density.to_csv('../../../Dados/Processado/Equipes_Saude/densidade/densidade10000habitantes.csv', index=True)

# tipos de equipe

In [2]:
# tipos de equipe