# import libraries

In [2]:
import pandas as pd
import numpy as np

# load equipes de saude totais data

In [11]:
df = pd.read_csv('../../../Dados/Raw/Equipes_Saude/totais/2008-2022.csv', delimiter=';', encoding='utf-8')

In [12]:
df.head()

,Unidade da Federacao,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2022/Mar,2022/Abr,2022/Mai,2022/Jun,2022/Jul,2022/Ago,2022/Set,2022/Out,2022/Nov,2022/Dez
0,11 Rondonia,281,279,278,295,296,301,304,306,308,...,697,698,700,696,696,700,701,705,706,711
1,12 Acre,168,170,170,171,172,172,172,175,175,...,485,488,488,489,487,489,488,489,490,493
2,13 Amazonas,622,613,616,608,636,641,639,642,651,...,2107,2117,2113,2116,2116,2122,2132,2135,2132,2134
3,14 Roraima,95,93,93,94,95,97,100,100,100,...,296,301,302,302,302,302,302,302,301,303
4,15 Para,1060,1066,1082,1100,1123,1132,1148,1158,1159,...,3711,3714,3726,3738,3747,3760,3771,3775,3774,3786

# replace column names

In [13]:
df.columns

Index(['Unidade da Federacao', '2008/Jan', '2008/Fev', '2008/Mar', '2008/Abr',
       '2008/Mai', '2008/Jun', '2008/Jul', '2008/Ago', '2008/Set',
       ...
       '2022/Mar', '2022/Abr', '2022/Mai', '2022/Jun', '2022/Jul', '2022/Ago',
       '2022/Set', '2022/Out', '2022/Nov', '2022/Dez'],
      dtype='object', length=181)

In [14]:
months = {"/Jan":"-01-01", "/Fev":"-02-01", "/Mar":"-03-01", "/Abr":"-04-01", "/Mai":"-05-01", "/Jun":"-06-01", "/Jul":"-07-01", "/Ago":"-08-01", "/Set":"-09-01", "/Out":"-10-01", "/Nov":"-11-01", "/Dez":"-12-01"}
for key, value in months.items():
    df.columns = df.columns.str.replace(key, value)

In [15]:
df.columns

Index(['Unidade da Federacao', '2008-01-01', '2008-02-01', '2008-03-01',
       '2008-04-01', '2008-05-01', '2008-06-01', '2008-07-01', '2008-08-01',
       '2008-09-01',
       ...
       '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01', '2022-07-01',
       '2022-08-01', '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01'],
      dtype='object', length=181)

# check for NAs

In [17]:
df.isna().sum().sum()

0

# save data

In [21]:
# save data in a new csv file
# df.to_csv('../../../Dados/Processado/Equipes_Saude/totais/2008-2022.csv', index=False)

# Normalize data
Normalize data per 1000 people.

# load population data